<% @attributes.keys.map(&:to_sym).each do |attr| %>
  <script type="text/ng-template" id="<%= attr %>">
    <md-input-container>
      <label>{{ attr.human }}</label>
      <%= field_with_validations_for attr %>
      <ng-messages for="form[attr.key].$error">
        <% for validation, msg in errors_with_messages_for attr %>
          <ng-message when="<%= validation %>"><%= msg %></ng-message>
        <% end %>
      </ng-messages>
    </md-input-container>
  </script>
<% end %>
