<script type="text/ng-template" id="date">
  <md-input-container>
    <label>{{ attr.human }}</label>
    <input class="form-control" name="{{ attr.key }}" type="date"
      placeholder="{{ attr.placeholder }}" ng-model="formCtrl.resource[attr.key]">
  </md-input-container>
</script>

<script type="text/ng-template" id="datetime">
  <md-input-container>
    <label>{{ attr.human }}</label>
    <input class="form-control" name="{{ attr.key }}" type="datetime-local"
      placeholder="{{ attr.placeholder }}" ng-model="formCtrl.resource[attr.key]">
  </md-input-container>
</script>

<script type="text/ng-template" id="email">
  <md-input-container>
    <label>{{ attr.human }}</label>
    <input class="form-control" name="{{ attr.key }}" type="email"
      placeholder="{{ attr.placeholder }}" ng-model="formCtrl.resource[attr.key]">
  </md-input-container>
</script>

<script type="text/ng-template" id="integer">
  <md-input-container>
    <label>{{ attr.human }}</label>
    <input class="form-control" name="{{ attr.key }}" type="number"
      placeholder="{{ attr.placeholder }}" ng-model="formCtrl.resource[attr.key]" step="1">
  </md-input-container>
</script>

<script type="text/ng-template" id="string">
  <md-input-container>
    <label>{{ attr.human }}</label>
    <input class="form-control" name="{{ attr.key }}" type="text"
      placeholder="{{ attr.placeholder }}" ng-model="formCtrl.resource[attr.key]">
  </md-input-container>
</script>

<script type="text/ng-template" id="text">
  <md-input-container>
    <label>{{ attr.human }}</label>
    <textarea class="form-control" name="{{ attr.key }}" placeholder="{{ attr.placeholder }}"
      ng-model="formCtrl.resource[attr.key]"></textarea>
  </md-input-container>
</script>

<script type="text/ng-template" id="url">
  <md-input-container>
    <label>{{ attr.human }}</label>
    <input class="form-control" name="{{ attr.key }}" type="url"
      placeholder="{{ attr.placeholder }}" ng-model="formCtrl.resource[attr.key]">
  </md-input-container>
</script>
