<% @attributes.keys.map(&:to_sym).each do |attr| %>
  <script type="text/ng-template" id="<%= attr %>">
    <md-input-container>
      <label>{{ attr.human }}</label>
      <%= field_with_validations_for attr %>
      <ng-messages for="form[attr.key].$error">
        <ng-message when="{{attr.type}}"><%= error_message_for attr %></ng-message>
      </ng-messages>
    </md-input-container>
  </script>
<% end %>
