<ui-view>
  <page-header>
    <div class="pull-right">
      <a class="btn btn-lg btn-success" ui-sref="{{ indexCtrl.resource_class.plural }}.new">
        Create new
      </a>
    </div>
    <h1>All {{ indexCtrl.resource_class.plural }}</h1>
  </page-header>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th ng-repeat="attribute in indexCtrl.resource_class.attributes">
              {{ attribute.human }}
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resource in indexCtrl.resources">
            <td ng-repeat="attribute in indexCtrl.resource_class.attributes">
              {{ resource[attribute.key] }}
            </th>
            <td>
              <a ui-sref="{{ indexCtrl.resource_class.plural }}.show({ id: resource.id })">
                Show
              </a>
              <a ui-sref="{{ indexCtrl.resource_class.plural }}.edit({ id: resource.id })">
                Edit
              </a>
              <a ui-sref="{{ indexCtrl.resource_class.plural }}.show({ id: resource.id })" delete-link>
                Destroy
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ui-view>
