<ui-view>
  <hyper-content for="toolbar">
    All {{ indexController.resource_class.plural }}
  </hyper-content>

  <hyper-content for="toolbar-right">
  </hyper-content>

  <resource-table resource-class="indexController.resource_class"
    resources="indexController.resources">
  </resource-table>

  <bgf-pagination
    collection="indexController.resources"
    url="indexController.resourceUrl"
    template-url="material-pagination">
  </bgf-pagination>

  <script type="text/ng-template" id="material-pagination">
    <div class="paginate-anything">
      <nav class="pagination" ng-if="numPages > 1">
        <md-button ng-click="gotoPage(page-1)" ng-disabled="page <= 0"
          aria-label="Go to previous page">
          <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
        </md-button>

        <md-button ng-if="linkGroupFirst() > 0" ng-click="gotoPage(0)">
          <span class="pageNumber">1</span>
        </md-button>

        <span class="dots" ng-if="linkGroupFirst() > 1">&ctdot;</span>

        <md-button
          ng-repeat="p in [linkGroupFirst(), linkGroupLast()] | makeRange"
          ng-click="gotoPage(p)" ng-disabled="p === page"
          aria-label="Go to page {{ p }}">
          <span ng-class="{ active: p === page }"
            class="pageNumber">{{ p + 1 }}</span>
        </md-button>

        <span class="dots" ng-if="linkGroupLast() < numPages - 2">&ctdot;</span>

        <md-button ng-if="isFinite() && linkGroupLast() < numPages - 1"
          ng-click="gotoPage(numPages - 1)">
          <span class="pageNumber">{{ numPages }}</span>
        </md-button>

        <md-button class="md-button" ng-click="gotoPage(page + 1)"
          ng-disabled="indexController.disableNextPageButton()"
          aria-label="Go to next page">
          <md-icon md-svg-icon="navigation:ic_arrow_forward_24px"></md-icon>
        </md-button>
      </nav>
    </div>
  </script>

  <md-button class="md-fab md-primary new-btn" ui-sref=".new">
    <md-icon md-svg-icon="content:ic_add_24px" aria-label="Create new"></md-icon>
  </md-button>
</ui-view>

<script type="text/ng-template" id="table-date">
  {{ resource[attribute.key] | date }}
</script>

<script type="text/ng-template" id="table-datetime">
  {{ resource[attribute.key] | date:'medium' }}
</script>

<script type="text/ng-template" id="table-email">
  <a href="mailto:{{ resource[attribute.key] }}">
    {{ resource[attribute.key] }}
  </a>
</script>

<script type="text/ng-template" id="table-integer">
  {{ resource[attribute.key] }}
</script>

<script type="text/ng-template" id="table-string">
  {{ resource[attribute.key] | truncate }}
</script>

<script type="text/ng-template" id="table-text">
  {{ resource[attribute.key] | truncate }}
</script>

<script type="text/ng-template" id="table-url">
  <a href="{{ resource[attribute.key] }}" target="_blank">
    {{ resource[attribute.key] | truncate }}
  </a>
</script>
