<ui-view>
  <page-header>
    <div class="pull-right">
      <a class="btn btn-lg btn-success" ui-sref="{{ indexCtrl.resource_class.plural }}.new">
        Create new
      </a>
    </div>
    <h1>All {{ indexCtrl.resource_class.plural }}</h1>
  </page-header>

  <div class="row">
    <div class="col-xs-12">
      <resource-table resource-class="indexCtrl.resource_class"
        resources="indexCtrl.resources">
      </resource-table>
    </div>
  </div>
</ui-view>
