<ui-view>
  <hyper-content for="toolbar">
    All {{ indexController.resource_class.plural }}
  </hyper-content>

  <hyper-content for="toolbar-right">
  </hyper-content>

  <resource-table resource-class="indexController.resource_class"
    resources="indexController.resources">
  </resource-table>

  <md-button class="md-fab md-primary new-btn" ui-sref=".new">
    <md-icon md-svg-icon="content:ic_add_24px" aria-label="Create new"></md-icon>
  </md-button>
</ui-view>

<script type="text/ng-template" id="table-date">
  {{ resource[attribute.key] | date }}
</script>

<script type="text/ng-template" id="table-datetime">
  {{ resource[attribute.key] | date:'medium' }}
</script>

<script type="text/ng-template" id="table-email">
  <a href="mailto:{{ resource[attribute.key] }}">
    {{ resource[attribute.key] }}
  </a>
</script>

<script type="text/ng-template" id="table-integer">
  {{ resource[attribute.key] }}
</script>

<script type="text/ng-template" id="table-string">
  {{ resource[attribute.key] | truncate }}
</script>

<script type="text/ng-template" id="table-text">
  {{ resource[attribute.key] | truncate }}
</script>

<script type="text/ng-template" id="table-url">
  <a href="{{ resource[attribute.key] }}" target="_blank">
    {{ resource[attribute.key] | truncate }}
  </a>
</script>
