<ui-view>
  <page-header>
    <div class="pull-right">
      <a class="btn btn-lg btn-success" ui-sref="{{ indexCtrl.resource_class.plural }}.new">
        Create new
      </a>
    </div>
    <h1>All {{ indexCtrl.resource_class.plural }}</h1>
  </page-header>

  <div class="row">
    <div class="col-xs-12">
      <resource-table resource-class="indexCtrl.resource_class"
        resources="indexCtrl.resources">
      </resource-table>
    </div>
  </div>
</ui-view>

<script type="text/ng-template" id="table-datetime">
  {{ resource[attribute.key] | date:'medium' }}
</script>

<script type="text/ng-template" id="table-email">
  <a href="mailto:{{ resource[attribute.key] }}">
    {{ resource[attribute.key] }}
  </a>
</script>

<script type="text/ng-template" id="table-integer">
  {{ resource[attribute.key] }}
</script>

<script type="text/ng-template" id="table-string">
  {{ resource[attribute.key] | truncate }}
</script>

<script type="text/ng-template" id="table-text">
  {{ resource[attribute.key] | truncate }}
</script>

<script type="text/ng-template" id="table-url">
  <a href="{{ resource[attribute.key] }}" target="_blank">
    {{ resource[attribute.key] | truncate }}
  </a>
</script>
