<div class="row">
  <div class="col-xs-12">
    <header class="page-header">
      <h1>New <%= @resource_class.model_name.singular %></h1>
    </header>
  </div>
</div>

<%= render "admin/resources/form", resource_class: @resource_class, resource: @resource %>
