<div class="row">
  <div class="col-xs-12">
    <header class="page-header">
      <div class="pull-right">
        <a class="btn btn-lg btn-default" ui-sref="edit_{{ showCtrl.resource_class.singular }}({ id: showCtrl.resource.id })">
          Edit
        </a>
        <a class="btn btn-lg btn-danger" ui-sref="show_{{ showCtrl.resource_class.singular }}({ id: showCtrl.resource.id })" delete-link>
          Destroy
        </a>
      </div>

      <h1>{{ showCtrl.resource_class.singular_human }} #{{ showCtrl.resource.id }}</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <dl class="dl-horizontal">
        <dt ng-repeat-start="(attr, human) in showCtrl.resource_class.attributes">
          {{ human }}
        </dt>
        <dd ng-repeat-end>
          {{ showCtrl.resource[attr] }}
        </dd>
      </dl>
    </div>
  </div>
</div>
