<!DOCTYPE html>
<html ng-app="hyperadmin">
  <head>
    <title>HyperAdmin</title>

    <%= stylesheet_link_tag    "hyper_admin/application", media: :all %>
    <%= javascript_include_tag "hyper_admin/application" %>

    <%= csrf_meta_tags %>

    <base href="/">
  </head>
  <body layout="row" ng-controller="MainCtrl as mainCtrl">

    <md-sidenav layout="column" md-component-id="leftNav"
      md-is-locked-open="$mdMedia('gt-lg')"
      class="md-sidenav-left md-whiteframe-z1">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Admin</h2>
        </div>
      </md-toolbar>

      <ul id="main-navigation" ng-controller="NavbarCtrl as navbarCtrl">
        <li ng-repeat="resource in navbarCtrl.resources">
          <md-button ui-sref="index({ pluralName: resource.list_state })"
            ui-sref-active="active"
            ng-click="mainCtrl.toggleLeftNavigation()">
            {{ resource.label }}
          </md-button>
        </li>
      </ul>
    </md-sidenav>

    <div layout="column" flex>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button id="open-navigation-drawer-icon"
            ng-click="mainCtrl.toggleLeftNavigation()" hide-gt-lg
            aria-label="Open navigation drawer">
            <md-icon md-svg-icon="navigation:ic_menu_24px"
              alt="Open navigation drawer"></md-icon>
          </md-button>

          <hyper-yield to="toolbar"></hyper-yield>

          <span flex></span>

          <hyper-yield to="toolbar-right"></hyper-yield>
        </div>
      </md-toolbar>

      <md-content class="md-padding">
        <ui-view></ui-view>
      </md-content>
    </div>

  </body>
</html>
