<!DOCTYPE html>
<html ng-app="hyperadmin">
  <head>
    <title>HyperAdmin</title>

    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    "hyper_admin/application", media: :all %>
    <%= javascript_include_tag "hyper_admin/application" %>

    <%= csrf_meta_tags %>
  </head>
  <body ng-controller="MainCtrl as mainCtrl">

    <nav class="navbar navbar-default" ng-controller="NavbarCtrl as navbarCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin">Admin</a>

          <ul class="nav navbar-nav">
            <li ng-repeat="resource in navbarCtrl.resources" ui-sref-active="active">
              <a ui-sref="index({ pluralName: resource.list_state })">{{ resource.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <flash-messages></flash-messages>
        </div>
      </div>

      <ui-view></ui-view>
    </div>

  </body>
</html>
